body {
  background: -webkit-linear-gradient(#107686,#77D2D5, #BCDDCC, #F9E1C5, #EDAF8F);
  background: -o-linear-gradient(#107686,#77D2D5, #BCDDCC, #F9E1C5, #EDAF8F);
  background: -moz-linear-gradient(#107686,#77D2D5,#BCDDCC, #F9E1C5, #EDAF8F);
  background: linear-gradient(#107686,#77D2D5, #BCDDCC, #F9E1C5, #EDAF8F);
  line-height: inherit;
}

#mainHeader{
  font-size: 200%;
  text-align: center;
  color: white;
  font-family: 'Optima';
  }

  nav {
    text-align: center;
}

li{
  list-style-type: none;
  margin: 5%;
}

li a {
  text-decoration: none;
  color: #FBDDD4;
}

li a:hover{
  color: #006994;
}
